@import url(fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');



p, a {
    font-size: 20px;
    font-family:'old standar',sans-serif;
}


h1{
    font-size: 40px;
    font-family: 'london',sans-serif ;
}

h2{
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;

}

body{
    margin: 0;
    background-color:#a44757;
}


header{
    background-color:#f7ac32;
    padding: 1rem;
    
}

img{
    transition:  ease-in 1s;
}



footer{

    position: relative;
    padding: 0.5rem;

    background-color: #f7ac32;
    text-align: center;
    list-style-type: none;
    
    width: 100%;
    
}


footer ul{
    list-style-type: none;
}

.flex-container{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:3rem;
    justify-content: center
}



/* GRIDS-INDEX */

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows:    1fr 1fr; 
    gap: 2rem;
    margin-left:  6rem;
    margin-right: 6rem;

    margin-bottom:  5rem;
    margin-top:     1rem;
    padding-bottom: 6rem;
    
    justify-content: center;

    
    

    grid-template-areas: 
      "image text"
      "text2 image2"; 
}

.image { grid-area: image;
         transition:  ease-in 0.2s;
         justify-self: right;
        
         
               
}
.text { grid-area: text;
        background-color: rgba(207, 158, 155,0.7);
        padding-left: 1rem;
        padding-right: 1rem;
}
.text2 { grid-area: text2;
         background-color: rgba(207, 158, 155,0.7);
         padding-left: 1rem;
         padding-right: 1rem;
}

.image2 { 
    grid-area: image2;
    transition:  ease-in 0.2s;
    padding-left: 3rem;
    
    
}

.image img{
    -webkit-box-shadow: 5px 5px 35px 5px rgba(0,0,0,0.5); 
    box-shadow:         5px 5px 35px 5px rgba(0,0,0,0.5); 
}

.image2 img{
    -webkit-box-shadow: 5px 5px 35px 5px rgba(0,0,0,0.5); 
    box-shadow:         5px 5px 35px 5px rgba(0,0,0,0.5); 
}


/* GRIDS Ressource */

.container-ressource {
    display: grid; 
    grid-auto-columns:     1fr; 
    grid-template-columns: 0.2fr 0.3fr; 
    grid-template-rows:    0.5fr 1fr; 
    gap: 0.5rem 1rem; 
    grid-template-areas: 
      "image1-ressource text-ressource"
      "image2-ressource text-ressource"; 

    padding-top:    1rem;
    padding-bottom: 1rem;
    padding-left:   3rem ;
    padding-right:  3rem ;

    

    justify-content: center;
    
}


.image1-ressource { grid-area: image1-ressource; }
.image2-ressource { grid-area: image2-ressource; }
.text-ressource   {
    grid-area: text-ressource;
    padding-left:  1rem;
    padding-right: 6rem;
    background-color: rgba(207, 158, 155,0.7);

}

.image1-ressource img{
    -webkit-box-shadow: 5px 5px 35px 5px rgba(0,0,0,0.5); 
    box-shadow:         5px 5px 35px 5px rgba(0,0,0,0.5); 
}

.image2-ressource img{
    -webkit-box-shadow: 5px 5px 35px 5px rgba(0,0,0,0.5); 
    box-shadow:         5px 5px 35px 5px rgba(0,0,0,0.5); 
}