@import url(fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

/* 
header{

    
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

h1{
    font-family: 'london',sans-serif ;
}

h2{
    font-family: 'Bebas Neue', sans-serif;

}


.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}