@import url(fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

/* 
header{

    
} */


h1{
    font-family: 'london',sans-serif ;
}

h2{
    font-family: 'Bebas Neue', sans-serif;

}


footer{
    background-color: #f7ac32;
    text-align: center;

}

.flex-container{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:1rem;
    
}